@model TestMe.Models.TestQuestion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        @if (!(Model.PreformattedText is null))
        {
                <dt>
                    @Html.DisplayNameFor(model => model.PreformattedText)
                </dt>
                <dd>
                    <pre>@Html.DisplayFor(model => model.PreformattedText)</pre>
                </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Test.TestName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Test.TestName)
        </dd>
        <dt>
            Answers amount
        </dt>
        <dd>
            @Model.TestAnswers.Count
        </dd>
    </dl>
</div>
<div>
    @if (Model.Test.TestCode is null)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a><span> |</span>
    }
    <a asp-action="Index" asp-route-id="@Model.TestId">Back to questions</a>
</div>
