@model TestMe.Models.Test

@{
    ViewData["Title"] = "Test question manager";
}

<h2><strong>@Html.DisplayNameFor(model => model.TestName):</strong> @Model.TestName</h2>

<p>
    @if (Model.TestCode is null)
    {
        <a asp-action="Create" asp-route-id="@Model.Id">Add new question</a>
    }
</p>
@if (User.Identity.Name == Model.AppUser.UserName)
{
    <div>
        <a asp-action="Index" asp-controller="Tests">Return to tests</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index" asp-controller="Admin">Back to administration</a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestQuestions.First().QuestionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestQuestions.First().PreformattedText)
            </th>
            <th>
                Answers amount
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @{var counter = 1; }
        @foreach (var item in Model.TestQuestions)
        {
        <tr>
            <td>
                <b>@counter</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @if (!(item.PreformattedText is null))
                {
                    <pre>@Html.DisplayFor(modelItem => item.PreformattedText)</pre>
                }
            </td>
            <td>
                @item.TestAnswers.Count
            </td>
            <td>
                @if (item.Test.TestCode is null)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><span> |</span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
            counter++;
        }

    </tbody>
</table>
