<ul class="nav nav-pills nav-stacked">
    @if (User.IsInRole("Admin"))
    {
        <li class="@AdminNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Tests</a></li>
        <li class="@AdminNavPages.UsersNavClass(ViewContext)"><a asp-action="Users">Users</a></li>
    }
    @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
    {
        <li class="@AdminNavPages.ReportedTestsNavClass(ViewContext)"><a asp-action="ReportedTests">Reported tests</a></li>
    }
    @*<li class="@AdminNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-page="TwoFactorAuthentication">Two-factor authentication</a></li>
        <li class="@AdminNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="PersonalData">Personal data</a></li>*@
</ul>
