@model IEnumerable<AppUser>
@inject UserManager<AppUser> UserManager
@{
    ViewData["ActivePage"] = "Users";
    ViewData["Title"] = "Users manager";
}

<h2>User manager</h2>

<form asp-controller="Admin" asp-action="Users" method="get">
    <div class="form-group">
        <label for="SearchString">Username:</label>
        <div class="row">
            <div class="col-xs-12 col-md-7">
                @if (Context.Request.Query["searchString"].Count != 0)
                {
                    <input type="text" class="form-control" name="searchString" id="searchString" value="@Context.Request.Query["searchString"][0]">
                }
                else
                {
                    <input type="text" class="form-control" name="searchString" id="searchString">
                }
            </div>
            <div class="col-xs-12 col-md-offset-2 col-md-3">
                <input type="submit" class="form-control " id="submit" value="Search">
            </div>
        </div>
    </div>
</form>
<table class="table" id="userTable">
    @Html.AntiForgeryToken()
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PhoneNumber)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.UserName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (await UserManager.IsInRoleAsync(item, "Admin"))
                    {
                        if (User.Identity.Name != item.UserName)
                        {
                            <a asp-action="RemoveFromAdmins" asp-route-id="@item.Id">Remove from admins</a><span> |</span>
                        }
                    }
                    else
                    {
                        if (item.IsBanned)
                        {
                            <a asp-action="UnBanUser" asp-route-id="@item.Id">Unban</a><span> |</span>
                        }
                        else
                        {
                            <a asp-action="BanUser" asp-route-id="@item.Id">Ban</a><span> |</span>
                        }
                        if (await UserManager.IsInRoleAsync(item, "Moderator"))
                        {
                            if (User.Identity.Name != item.UserName)
                            {
                                <a asp-action="RemoveFromModerators" asp-route-id="@item.Id">Remove from moderators</a><span> |</span>
                            }
                        }
                        else
                        {
                            <a asp-action="AddToModerators" asp-route-id="@item.Id">Add to moderators</a><span> |</span>
                        }
                        <a asp-action="AddToAdmins" asp-route-id="@item.Id">Add to admins</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-offset-3 col-md-6 text-center">
        <button type="button" class="btn btn-primary" onclick="getUsers()">Load more users</button>
    </div>
</div>
