@model TestMe.Models.Test

@{
    ViewData["Title"] = "Index";
}

<h2><strong>@Html.DisplayNameFor(model => model.TestName):</strong>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Index" asp-controller="TestQuestions" asp-route-id="@Model.Id">@Model.TestName</a>
    }
    else
    {
        @Model.TestName
    }
</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestReports.First().Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestReports.First().AppUser.UserName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TestReports) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.UserName)
            </td>
        </tr>
}
    </tbody>
</table>
