@model IEnumerable<TestReport>

@{
    ViewData["Title"] = "Index";
}

<h2>
    <strong>@Html.DisplayNameFor(model => model.First().Test.TestName):</strong>
    @if (User.IsInRole("Admin") || User.Identity.Name == Model.First().Test.AppUser.UserName)
    {
        <a asp-action="Index" asp-controller="TestQuestions" asp-route-id="@Model.First().Test.Id">
            @Model.First().Test.TestName
        </a>
    }
    else
    {
        @Model.First().Test.TestName
    }
</h2>       

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser.UserName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.AppUserId">
                    @Html.DisplayFor(modelItem => item.AppUser.UserName)
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
