@model TestMe.Models.Test
@{
    ViewData["Title"] = "Index";
}

<h2>User results</h2>
<h3>@Html.DisplayNameFor(model => model.TestName): @Model.TestName</h3>
@if (Model.AppUser.UserName == User.Identity.Name)
{
    <p>
        <a asp-action="Index" asp-controller="Tests">Back to tests</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestResults.First().Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestResults.First().AppUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestResults.First().StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestResults.First().FinishTime)
            </th>
            <th>
                Test time
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        @{ var counter = 1; }
        @foreach (var item in Model.TestResults)
        {
            <tr>
                <td>
                    <b>@counter</b>
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Score)</strong> / @Model.TestQuestions.Count
                </td>
                <td>
                    <a asp-action="Index" asp-controller="Profile" asp-route-id="@item.AppUser.Id">@Html.DisplayFor(modelItem => item.AppUser.UserName)</a>
</td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishTime)
                </td>
                <td>
                    @((item.FinishTime - item.StartTime).Duration().StripMilliseconds())
                </td>
                <td>
                    <a asp-action="Index" asp-controller="UserAnswers" asp-route-testId="@item.TestId" asp-route-userId="@item.AppUserId">
                        Details
                    </a>  
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>

