@model TestMe.Models.TestAnswer

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>@Model.TestQuestion.QuestionText</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnswerText" class="control-label"></label>
                <textarea asp-for="AnswerText" rows="8" cols="70"></textarea>
                <span asp-validation-for="AnswerText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCorrect" /> @Html.DisplayNameFor(model => model.IsCorrect)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCode" /> @Html.DisplayNameFor(model => model.IsCode)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="TestQuestionId" value="@Model.TestQuestionId">
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" type="file" accept="image/*" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.TestQuestionId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
