@model TestMe.Models.TestAnswer

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h3>@Model.TestQuestion.QuestionText</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AnswerText" class="control-label"></label>
                <input asp-for="AnswerText" class="form-control" />
                <span asp-validation-for="AnswerText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCorrect" /> @Html.DisplayNameFor(model => model.IsCorrect)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="TestQuestionId" value="@Model.TestQuestion.TestId" />
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label><br />
                @if (!(Model.ImageName is null))
                {
                    <img id="answerImage" src="~/uploads/answerPics/@Model.ImageName" height="200" alt="your image" data-src="/uploads/answerPics/@Model.ImageName" /><br />
                    <a asp-action="DeletePhoto" asp-route-id="@Model.Id"><button type="button" class="btn btn-primary">Delete photo</button></a>
                }
                else
                {
                    <img id="answerImage" height="200" alt="your image" data-src="" style="display: none;" /><br />
                }
                <button type="button" class="btn btn-default" id="resetPhotoButton" onclick="resetPhotoButtonClick()" style="display: none;">Reset</button>
                <label class="btn btn-default">
                    Browse  <input asp-for="ImageName" type="file" accept="image/*" hidden />
                </label>
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ImageName" type="hidden" class="form-control" value="@Model.ImageName" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.TestQuestionId">Back to answers</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/answerPhoto.js"></script>
}
