@model Test
@{
    ViewData["Title"] = "Test answer manager";
}

<h2><strong>@Html.DisplayNameFor(model => model.TestQuestions.First().QuestionText)</strong>: @Model.TestQuestions.First().QuestionText</h2>

<p>
    @if (Model.TestCode is null)
    {
        <a asp-action="Create" asp-route-id="@Model.TestQuestions.First().Id">Add new answer</a>
    }
</p>
<p>
    <a asp-action="Index" asp-controller="TestQuestions" asp-route-id="@Model.Id">Return to questions</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestAnswers.First().AnswerText)
            </th>
            @if (Model.TestQuestions.First().TestAnswers.Any(ta => !(ta.ImageName is null)))
            {
                <th>
                    @Html.DisplayNameFor(model => model.TestAnswers.First().ImageName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.TestAnswers.First().IsCorrect)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @{var counter = 1; }
        @foreach (var item in Model.TestQuestions.First().TestAnswers)
        {
        <tr>
            <td>
                <b>@counter</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerText)<br />
            </td>
            @if (Model.TestQuestions.First().TestAnswers.Any(ta => !(ta.ImageName is null)))
            {
                <td>
                    @if (!(item.ImageName is null))
                    {
                        <img src="~/uploads/answerPics/@item.ImageName" height="100" />
                    }
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrect)
            </td>
            <td>
                @if (item.TestQuestion.Test.TestCode is null)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><span> |</span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        counter++;
        }
    </tbody>
</table>
