@model IEnumerable<TestMe.Models.TestAnswer>
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.TestQuestionText</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.TestQuestionId">Create New</a>
</p>
<p>
    <a asp-action="Index" asp-controller="TestQuestions" asp-route-id="@ViewBag.TestId">Return to questions</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnswerText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCorrect)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnswerText)<br />
                    @if (!(item.ImageName is null))
                    {
                       <img src="~/uploads/answerPics/@item.ImageName" height="300"/>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCorrect)
                </td>
                <td>
                    @if (item.TestQuestion.Test.TestCode is null)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><span> |</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
