@model TestMe.Models.Test

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            Question amount
        </dt>
        <dd>
            @Model.TestQuestions.Count
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestDuration)
        </dd>
        @if (!(Model.TestCode is null))
        {
            <dt>
                @Html.DisplayNameFor(model => model.TestCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TestCode)
            </dd>
        }
    </dl>
</div>
<div>
    @if (User.Identity.Name == Model.AppUser.UserName || User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    @if (User.Identity.Name == Model.AppUser.UserName)
    {
        <div>
            <a asp-action="Index" asp-controller="Tests">Backs to tests</a>
        </div>
    }
    else
    {
        <div>
            <a asp-action="Index" asp-controller="Admin">Back to administration</a>
        </div>
    }
</div>