@model IEnumerable<TestMe.Models.Test>

@{ 
    ViewData["Title"] = "Test manager";
}

<h2>Test manager</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th class="hidden-xs">
                Question amount
            </th>
            @if (Model.Any(t => !(t.TestCode is null)))
            {
                <th class="hidden-xs">
                    @Html.DisplayNameFor(model => model.First().TestCode)
                </th>
            }
            <th>
                Test rating
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @{var counter = 1; }
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <b>@counter</b>
            </td>
            <td>
                <a asp-action="Index" asp-controller="TestQuestions" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.TestName)</a>
            </td>
            <td class="hidden-xs">
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td class="hidden-xs">
                @item.TestQuestions.Count
            </td>
            @if (Model.Any(t => !(t.TestCode is null)))
            {
                <td class="hidden-xs">
                    @item.TestCode
                </td>
            }
                <td>
                    @{var rating = item.TestMarks.Count(tm => tm.EnjoyedTest) - item.TestMarks.Count(tm => !tm.EnjoyedTest); }
                    @if (rating > 0)
                    {
                        <span class="text-success">@rating</span>
                    }
                    else if (rating < 0)
                    {
                        <span class="text-danger">@rating</span>
                    }
                    else
                    {
                        <span>@rating</span>
                    }
                </td>
                <td>
                    @if (item.TestCode is null)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><span> |</span>
                        var modalId = $"startSharingModal{item.Id}";
                        <a data-toggle="modal" data-target="#@modalId">Share your test </a><span> |</span>
                        <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="@modalId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h4>All previous test results will be deleted. Are you sure?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <a asp-action="CreateCode" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Yes</button></a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a asp-action="ValidateTest" asp-route-id="@item.Id">Validate test</a><span> |</span>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="TestEngine" asp-route-code="@item.TestCode">Try your test out</a><span> |</span>
                        var modalId = $"stopSharingModal{item.Id}";
                        <a data-toggle="modal" data-target="#@modalId">Stop sharing </a><span> |</span>
                        <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="@modalId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h4>If you stop sharing your test right now, next time you share a test, all it previous results will be deleted. Are you sure?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <a asp-action="StopSharing" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Yes</button></a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <a asp-action="Index" asp-controller="TestResults" asp-route-id="@item.Id">User results </a><span> |</span>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a><span> |</span>
                    <a asp-action="TestRecord" asp-route-id="@item.Id">Test record</a>

                </td>
        </tr>
            counter++;
        }
    </tbody>
</table>
