@model IEnumerable<TestMe.Models.Test>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                Actions
            </th>
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a asp-action="Index" asp-controller="TestQuestions" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.TestName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @if (item.TestCode is null)
                {
                    <a asp-action="Create" asp-controller="TestQuestions" asp-route-id="@item.Id">Add new question</a><span> |</span>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><span> |</span>
                    var modalId = $"startSharingModal{item.Id}";
                    <a data-toggle="modal" data-target="#@modalId">Share your test </a><span> |</span>
                    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="@modalId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h4>All previous test results will be deleted. Are you sure?</h4>
                                </div>
                                <div class="modal-footer">
                                    <a asp-action="CreateCode" asp-route-id="@item.Id"><button type="button" class="btn btn-default">Yes</button></a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a asp-action="ValidateTest" asp-route-id="@item.Id">Validate test</a><span> |</span>
                }
                else
                {
                    var modalId = $"stopSharingModal{item.Id}";
                    <a data-toggle="modal" data-target="#@modalId">Stop sharing </a><span> |</span>
                    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="@modalId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h4>If you stop sharing your test right now, next time you share a test, all it previous results will be deleted. Are you sure?</h4>
                                </div>
                                <div class="modal-footer">
                                    <a asp-action="StopSharing" asp-route-id="@item.Id"><button type="button" class="btn btn-default">Yes</button></a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <a asp-action="UserResults" asp-route-id="@item.Id">User results </a><span> |</span>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>
