@model ICollection<Test>
<!DOCTYPE html>
<html lang="ru">
<head>
    <!--<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/user.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>TestMe</title>

</head>
<body>

    <div class="no-padding col-lg-12" id="header">
        <div class="col-lg-2 header-container container_vertical" id="logo_container">
            <a href="" class="vertical_object" id="header_logo">TestMe</a>
        </div>
        <div class="col-lg-10 header-container container_vertical">
            <form class="navbar-form  vertical_object" role="search">
                <input type="text" class="form-control" style="border: 0; width: 100%;" placeholder="Search test">
            </form>
        </div>
    </div>

    <!-- LEFT SIDE -->
    <div class="left-side-container no-padding col-lg-2 " id="left-side-user">
        <div class="col-lg-12 no-padding user-block">
            <span class="col-lg-1 icon-Teacher"></span>
            <span class="col-lg-9 text" style="text-decoration: underline;">
                example@nure.ua
            </span>
        </div>

        <button class="left-side-buttons col-lg-12 ">
            <a asp-action="Create">
                <span class="col-lg-1 icon-write"></span>
                <span class="col-lg-9 text">
                    Add new test
                </span>
            </a>
        </button>
        <button class="left-side-buttons col-lg-12 ">
            <span class="col-lg-1 icon-user"></span>
            <span class="col-lg-9 text">
                My account
            </span>
        </button>
        <button class="left-side-buttons col-lg-12 ">
            <span class="col-lg-1 icon-copy"></span>
            <span class="col-lg-9 text">
                Tests
            </span>
        </button>
        <button class="left-side-buttons col-lg-12 ">
            <span class="col-lg-1 icon-tasks"></span>
            <span class="col-lg-9 text">
                Results
            </span>
        </button>

        <div class="divider"></div>

        <button class="left-side-buttons col-lg-12 ">
            <span class="col-lg-1 icon-settings"></span>
            <span class="col-lg-9 text">
                Settings
            </span>
        </button>


        <button class="left-side-buttons col-lg-12 ">
            <a asp-action="LogOut" asp-controller="Home">
                <span class="col-lg-1 icon-logout"></span>
                <span class="col-lg-9 text">
                    Log out
                </span>
            </a>
        </button>
    </div>

    <!-- RIGHT SIDE -->
    <div class="right-side-container no-padding col-lg-7 col-lg-push-1">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#all_tests" data-toggle="tab">All tests</a></li>
            <li><a href="#my_tests" data-toggle="tab">My tests</a></li>
            @if (Model.Any(t => t.RequiresTeacherToStart))
            {
                <li><a href="#control_tests" data-toggle="tab">Control tests</a></li>
            }
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="all_tests">


                <!-- ALL TESTS -->
                <table class="table  table-striped">
                    <thead>
                        <tr class="thead">
                            <th class="col-lg-5">Name</th>
                            <th class="col-lg-3">Author</th>
                            <th class="col-lg-2">Questions</th>
                            <th class="col-lg-2">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var test in Model)
                        {
                            <tr onclick="location.href = '/' + '@test.TestCode'">
                                <td>@test.TestName</td>
                                <td>@test.AppUser.Email</td>
                                <td>@test.TestQuestions.Count</td>
                                @{ var testResults = test.TestResults.Where(tr => tr.TestId == test.Id);}
                                @{
                                    int passProcentage;
                                    var testQustionCount = test.TestQuestions.Count();
                                    if (testQustionCount != 0 && test.TestResults.Count() != 0)
                                    {
                                        passProcentage = 100 * (test.TestResults.Count(tr => tr.Score == testQustionCount)) / test.TestResults.Count();
                                    }
                                    else
                                    {
                                        passProcentage = 0;
                                    }
                                }

                                <td>@passProcentage %</td>
                            </tr>
                        }
                    </tbody>
                </table>





            </div>
            <div class="tab-pane" id="my_tests">



                <!-- MY TESTS -->
                <table class="table table-striped">
                    <thead>
                        <tr class="thead">
                            <th class="col-lg-5">Name</th>
                            <th class="col-lg-2">Author</th>
                            <th class="col-lg-2">Questions</th>
                            <th class="col-lg-2">Result</th>
                            <th class="col-lg-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var test in Model.Where(t => t.AppUser.Email == User.Identity.Name))
                        {
                        <tr onclick="location.href = '/' + '@test.TestCode'">
                            <td>@test.TestName</td>
                            <td>@test.AppUser.Email</td>
                            <td>@test.TestQuestions.Count</td>
                            @{ var testResults = test.TestResults.Where(tr => tr.TestId == test.Id);}
                            @{
                                int passProcentage;
                                var testQustionCount = test.TestQuestions.Count();
                                if (testQustionCount != 0 && test.TestResults.Count() != 0)
                                {
                                    passProcentage = 100 * (test.TestResults.Count(tr => tr.Score == testQustionCount)) / test.TestResults.Count();
                                }
                                else
                                {
                                    passProcentage = 0;
                                }
                            }

                            <td>@passProcentage %</td>
                            <td>
                                <button class="btn editButton">
                                    <a asp-action="Edit" asp-route-id="@test.Id">Edit</a>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>


            </div>

            @if (Model.Any(t => t.RequiresTeacherToStart))
            {
                <div class="tab-pane" id="control_tests">

                    <!-- CONTROL TESTS -->
                    <table class="table table-striped">
                        <thead>
                            <tr class="thead">
                                <th class="col-lg-5">Name</th>
                                <th class="col-lg-3">Author</th>
                                <th class="col-lg-2">Questions</th>
                                <th class="col-lg-2">Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var test in Model.Where(t => t.RequiresTeacherToStart))
                            {
                                <tr onclick="location.href = '/' + '@test.TestCode'">
                                    <td>@test.TestName</td>
                                    <td>@test.AppUser.Email</td>
                                    <td>@test.TestQuestions.Count</td>
                                    @{ var testResults = test.TestResults.Where(tr => tr.TestId == test.Id);}
                                    @{
                                        int passProcentage;
                                        var testQustionCount = test.TestQuestions.Count();
                                        if (testQustionCount != 0 && test.TestResults.Count() != 0)
                                        {
                                            passProcentage = 100 * (test.TestResults.Count(tr => tr.Score == testQustionCount)) / test.TestResults.Count();
                                        }
                                        else
                                        {
                                            passProcentage = 0;
                                        }
                                    }

                                    <td>@passProcentage %</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            }
        </div>
    </div>



    <!-- Последняя компиляция и сжатый JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>