@model IEnumerable<TestMe.Models.TestResult>

@{
    ViewData["Title"] = "UserResults";
}

<h2>UserResults</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Index">Back to tests</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishTime)
            </th>
            <th>
                Test time
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <strong>@Html.DisplayFor(modelItem => item.Score)</strong> / @ViewBag.QuestionAmount
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishTime)
            </td>
            <td>
                @((item.FinishTime-item.StartTime).Duration())
            </td>
        </tr>
}
    </tbody>
</table>
