@model TestMe.Models.Test
@{

}
<div class="container-fluid">
    <div id="startTestElem">
        @Html.AntiForgeryToken()
        <h1 class="text-center">@Model.TestName</h1>
        <h2>Author: @Model.AppUser.UserName</h2>
        <h3>Creation date: @Model.CreationDate</h3>
        <h4>Question amount: @Model.TestQuestions.Count</h4>
        <input type="hidden" value="@Model.TestCode" id="testCode" />
        <button type="button" class="btn btn-primary btn-lg center-block" id="startButton">Start test</button>
    </div>
    <form asp-controller="TestEngine" asp-action="StartTest" id="questionForm" method="post" display="none">
        @Html.AntiForgeryToken()
        <fieldset id="testQuestionFieldSet">
            <legend id="questionText"></legend>

            @*<div>
                <input type="checkbox" id="scales" name="feature"
                       value="scales" checked />
                <label for="scales">Scales</label>
            </div>

            <div>
                <input type="checkbox" id="horns" name="feature"
                       value="horns" />
                <label for="horns">Horns</label>
            </div>

            <div>
                <input type="checkbox" id="claws" name="feature"
                       value="claws" />
                <label for="claws">Claws</label>
            </div>*@

        </fieldset>

    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        function startTest() {
            var token = $('input[name="__RequestVerificationToken"]', $('#startTestElem')).val();
            var myData = { code: $("#testCode").val() };
            var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });

            $.ajax({
                url: "/TestEngine/StartTest",
                type: "POST",
                data: dataWithAntiforgeryToken,
                success: function (data) {
                    ConfigureForTheFirstQuestion(data);
                },
                error: function () {
                    $("#questionForm").empty();
                }
            });
        }
        function ConfigureForTheFirstQuestion(question)
        {
            $("#questionForm").show();
            $("#questionText").append("<h1>" + question.questionText + "</h1>");
            $("#startTestElem").hide();
            question.testAnswers.forEach(function (element) {
                $("#testQuestionFieldSet").append('<div><input type ="checkbox" values="' + element.id + ' ">' + element.answerText + "</input></div>");

            });

            $('<button/>', { text: 'Check answer', id: 'answerButton', click: CheckAnswer }).appendTo("#testQuestionFieldSet");
        }

        function CheckAnswer()
        {


        }

        $("#startButton").on("click", startTest);
    </script>
}

