@model TestMe.Models.Test
@{

}
<div class="container-fluid">
    <div id="startTestElem">
        @Html.AntiForgeryToken()
        <h1 class="text-center">@Model.TestName</h1>
        <h2>Author: @Model.AppUser.UserName</h2>
        <h3>Creation date: @Model.CreationDate</h3>
        <h4>Question amount: @Model.TestQuestions.Count</h4>
        <input type="hidden" value="@Model.TestCode" id="testCode" />
        <button type="button" class="btn btn-primary btn-lg center-block" id="startButton">Start test</button>
    </div>
    <div id="questionBlock"  display="none">
        @Html.AntiForgeryToken()
        <fieldset id="testQuestionFieldSet">
            <legend id="questionText">

            </legend>
        </fieldset>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function startTest() {
            var token = $('input[name="__RequestVerificationToken"]', $('#startTestElem')).val();
            var myData = { code: $("#testCode").val() };
            var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });

            $.ajax({
                url: "/TestEngine/StartTest",
                type: "POST",
                data: dataWithAntiforgeryToken,
                success: function (data) {
                    ConfigureForTheFirstQuestion(data);
                },
                error: function () {
                    $("#questionForm").empty();
                }
            });
        }
        function ConfigureForTheFirstQuestion(question)
        {
            $("#questionForm").show();
            $("#questionText").append("<h1>" + question.questionText + "</h1>");
            $("#startTestElem").hide();
            question.testAnswers.forEach(function (element) {
                $("#testQuestionFieldSet").append('<div><input type ="checkbox" name="answer" value="' + element.id + ' ">' + element.answerText + "</input></div>");
            });
            $("#testQuestionFieldSet").data("testCode", question.test.testCode);
            $("#testQuestionFieldSet").data("id", question.id);
            $('<button/>', { text: 'Check answer', id: 'answerButton', click: CheckAnswer }).appendTo("#testQuestionFieldSet");
        }

        function CheckAnswer()
        {
            var token = $('input[name="__RequestVerificationToken"]', $('#questionBlock')).val();
            var checkedArray = new Array();
            $('input[name="answer"]:checked').each(function () {
                checkedArray.push(this.value);
            });

            var myData = { checkedIds: checkedArray };
            var questionId = $("#testQuestionFieldSet").data('id');
            var testCode = $("#testQuestionFieldSet").data("testCode");
            myData = $.extend(myData, { 'questionId': questionId });
            myData = $.extend(myData, { 'testCode': testCode });
            var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });
            $.ajax({
                url: "/TestEngine/CheckAnswer",
                type: "POST",
                data: dataWithAntiforgeryToken,
                success: function (data) {
                    showCorrectAnswer(data);
                },
                error: function () {
                    $("#questionBlock").append('<h5> Internal error. Try again</h5>');
                }
            });

        }

        function showCorrectAnswer(question) {


        }

        $("#startButton").on("click", startTest);
    </script>
}

