@model TestMe.Models.Test
@{
    ViewData["Title"] = Model.TestName;
}
<div id="mainContainer" class="container-fluid">
    <div id="startTestElem" class="row">
        @Html.AntiForgeryToken()
        <h1 class="text-center col-md-12">@Model.TestName</h1>
        <h2 class="col-md-12">Author: @Model.AppUser.UserName</h2>
        <h3 class="col-md-12">Creation date: @Model.CreationDate</h3>
        <h4 class="col-md-12">Question amount: @Model.TestQuestions.Count</h4>
        <input type="hidden" value="@Model.TestCode" id="testCode" />
        <button type="button" class="btn btn-primary btn-lg center-block col-md-12" id="startButton" onclick="startTest()">Start test</button>
    </div>
    <div id="questionBlock" class="row" display="none">
        @Html.AntiForgeryToken()
        <fieldset id="testQuestionFieldSet" class="col-md-12">
            <legend id="questionText">
                <h1 class="col-xs-12 col-md-6"></h1>
                <h2 id="timer" class="col-xs-12 col-md-6"></h2>
                <h5 class="colx-xs-12 col-md-12"></h5>
            </legend>
        </fieldset>
        <div id="navButtons" class="row">
            <button id="prevQuestionButton" class="btn btn-primary col-md-offset-0 col-md-2 col-xs-8 col-xs-offset-2" onclick="prevButtonClick()">Prev question</button>
            <button id="answerButton" class="btn btn-success col-md-offset-3 col-md-2 col-xs-8 col-xs-offset-2" onclick="checkAnswerClick()">Check answer</button>
            <button id="nextQuestionButton" class="btn btn-primary col-md-offset-3 col-md-2 col-xs-8 col-xs-offset-2" onclick="nextButtonClick()">Next question</button>
            <button id="finishTest" class="btn btn-primary col-md-offset-5 col-md-2 col-xs-8 col-xs-offset-2" data-toggle="modal" data-target="#finishTestModal">Finish test</button>
            <div class="modal fade" id="finishTestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3>Are you sure?</h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="finishTestButton()">Confirm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="questions" class="row">

        </div>
    </div>
</div>
@if (Model.AppUser.UserName != User.Identity.Name && Model.TestReports.Count == 0)
{
    <a asp-action="Create" asp-controller="TestReports" asp-route-id="@Model.Id">Report test</a>
}
else{
    if (Model.AppUser.UserName != User.Identity.Name)
    {   
        <h6 class="text-danger">You have already reported this test</h6>
    }
}
@section Scripts{
    <script src="~/js/testEngine.js"></script>
}