@model TestMe.Models.Test
@{

}
<div class="container-fluid">
    <h1 class="text-center">@Model.TestName</h1>
    <h2>Author: @Model.AppUser.UserName</h2>
    <h3>Creation date: @Model.CreationDate</h3>
    <h4>Question amount: @Model.TestQuestions.Count</h4>
    <form asp-controller="TestEngine" asp-action="StartTest" id="startTestForm" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.TestCode" id="testCode"/>
        <button type="button" class="btn btn-primary btn-lg center-block" id="startButton">Start test</button>
    </form>
    <form asp-controller="TestEngine" asp-action="StartTest" id="questionForm"method="post" display="none">
        @Html.AntiForgeryToken()

    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        function startTest() {
            var token = $('input[name="__RequestVerificationToken"]', $('#startTestForm')).val();
            var myData = { code: $("#testCode").val() };
            var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });

            $.ajax({
                url: "/TestEngine/StartTest",
                type: "POST",
                data: dataWithAntiforgeryToken,
                success: function (data) {
                    //data.TestAnswers.forEach(function (element) {
                    //    $("#questionForm").append("<div>" + element.AnswerText + "</div>");
                    //});
                    $("#questionForm").append("<div>" + data.questionText + "</div>");
                    $("#startTestForm").hide();
                },
                error: function () {
                    $("#StorageLocations").empty();

                }
            });
        }

        $("#startButton").on("click", startTest);
    </script>
}

